<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Demos @ AngularCode.com</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }
    .icon-block {
      padding: 0 15px;
    }
    .icon-block .material-icons {
      font-size: inherit;
    }
    .success{
      color: limegreen;
      font-size: 20px;
    }
    body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
    }

    main {
      flex: 1 0 auto;
    }
</style>
</head>
<body ng-app="sendmailApp" ng-controller="MailController">
  <nav>
    <div class="nav-wrapper container">
      <a href="#" class="brand-logo">Demos @ angularcode.com</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><i class="material-icons">search</i></li>
        <li><input placeholder="Search" ng-model="f" class=" col s6"></li>
      </ul>
    </div>
  </nav>
  <main>
    <div class="section no-pad-bot valign-wrapper">
      <div class="container">
        <table class="bordered striped"> 
          <thead>
              <tr>
                  <th>Title</th>
                  <th>Tutorial</th>
                  <th>Demo</th>
                  <th>Download</th>
              </tr>    
          </thead>
          <tbody>
              <tr ng-repeat="r in data | filter: f">
                  <td>{{r.title}}</td>
                  <td><a href="{{r.tutorial}}" class="waves-effect waves-light btn blue">Tutorial</a></td>
                  <td><a href="{{r.demo}}" class="waves-effect waves-light btn yellow accent-4" ng-if="r.demo">Demo</a></td>
                  <td><a href="{{r.download}}" class="waves-effect waves-light btn red" ng-if="r.download">Download</a></td>
              </tr>
          </tbody>
      </table>
      </div>
    </div>
  </main>
  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container center">
      Crafted by <a class="orange-text text-lighten-3" href="http://angularcode.com">AngularCode</a>
      </div>
    </div>
  </footer>

  <!--  Scripts-->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
  <script type="text/javascript">
    angular.module('sendmailApp', [])
    .controller('MailController', function ($scope,$http) {
        $scope.loading = true;
        $http.get('api/index.php').then(res=>{
            $scope.loading = false;
            $scope.data = res.data;
        });
    })
  </script>
  </body>
</html>