@charset "utf-8";
/* CSS Document */
#sr
{
width:250px;
border:solid 1px #000;
padding:3px;
border-left:solid 1px #dedede;
border-right:solid 1px #dedede;
border-bottom:solid 1px #dedede;
overflow:hidden;
z-index:1000;
background-color:white;
color:black;
font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
}

.display_box
{
padding:4px; border-top:solid 1px #dedede; font-size:12px; height:60px;
}

.display_box:hover 
{
background:#3299c4;
color:#FFFFFF;
cursor:pointer;
}
#shade
{
background-color:#00CCFF;

}

