.album {
  max-width: 600px; /** for this example, I don't give a rats (*) about IE */
  clear: both;
}
.album h2 {
  clear: both;
}
.album a {
  display: block;
  float: left;
  margin-right: 1em;
  padding: 0.5em;
  border: 1px solid black;
  background-color: #eee;
  text-align: center;
}
.album a:hover {
  border-color: blue;
}
.album img {
  width: 72px;
  height: 100px;
  border: 0;
}
#album-nav {
  margin-top: 5em;
  max-width: 500px;
  overflow: auto;
}
.prev, .next {
  border: 1px outset #ccc;
  color: #000075;
  background-color: white;
  font-weight:bold;
  padding: 0.25em;
}
.prev:hover,.next:hover {
  border-style: inset;
}
.prev {
  float: left;
}
.next {
  float: right;
}